@charset "UTF-8";
/*
Copyright (c) 2017
------------------------------------------------------------------
[Master Default Stylesheet]
-------------------------------------------------------------------

[Table of contents]

1. color option
2. body
3. css element
4. sidebar
5. page wrapper
6. authentication
.
.
. 
49. footer
50. components
-------------------------------------------------------------------*/
/* --- > body bacground color */
/* --- > main color */
/* --- > text color */
/* --- > heading color */
/* --- > sidebar background color */
/********************************************************************************************* 
2. body start
*********************************************************************************************/
body {
  background-color: #f1f1f1;
  color: #272727;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
a,
a:focus,
a:hover {
  color: #4e72e9;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111111;
}
.site_loaded .hs_preloader {
  opacity: 0;
  visibility: hidden;
}
.modal-content .btn {
  margin-left: 15px;
}
/********************************************************************************************* 
2. body end
*********************************************************************************************/
/********************************************************************************************* 
3. css element start
*********************************************************************************************/
.clearfix_box {
  content: "";
  display: table;
  width: 100%;
}
/********************************************************************************************* 
3. css element end
*********************************************************************************************/
/********************************************************************************************* 
4. sidebar start
*********************************************************************************************/
.hs_sidebar_wrapper {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 320px;
  background-color: #1d1d1d;
}
.hs_sidebar_wrapper .hs_logo > a {
  display: block;
  padding: 30px 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: #353535;
}
.hs_sidebar_wrapper .hs_logo > img {
  max-width: 100%;
}
.hs_sidebar_wrapper .hs_sidebar_body {
  height: 100%;
  max-height: calc(100% - 88px);
}
.hs_sidebar_wrapper .hs_sidebar_body .hs_nav {
  margin-top: 20px;
}
.hs_sidebar_wrapper .hs_sidebar_body .hs_nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.hs_sidebar_wrapper .hs_sidebar_body .hs_nav > ul > li {
  display: block;
}
.hs_sidebar_wrapper .hs_sidebar_body .hs_nav > ul > li > a {
  display: block;
  padding: 15px;
  color: #c5c5c5;
}
.hs_sidebar_wrapper .hs_sidebar_body .hs_nav > ul > li > a > i {
  margin-right: 5px;
}
.hs_sidebar_wrapper .hs_sidebar_body .hs_nav > ul > li > a:hover,
.hs_sidebar_wrapper .hs_sidebar_body .hs_nav > ul > li > a.active {
  color: #ffffff;
  background-color: #353535;
}
.hs_sidebar_wrapper .hs_sidebar_body .hs_nav > ul > li.hs_nav_dropdown > a::after {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #898a8c;
  vertical-align: middle;
  height: 5px;
  margin-right: 20px;
  float: right;
  margin-top: 7px;
}
.hs_sidebar_wrapper .hs_sidebar_body .hs_nav > ul > li > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}
.hs_sidebar_wrapper .hs_sidebar_body .hs_nav > ul > li > ul > li {
  display: block;
}
.hs_sidebar_wrapper .hs_sidebar_body .hs_nav > ul > li > ul > li > a {
  display: block;
  padding: 10px;
  padding-left: 50px;
  color: #9e9d9d;
  font-size: 13px;
}
.hs_sidebar_wrapper .hs_sidebar_body .hs_nav > ul > li > ul > li > a:hover,
.hs_sidebar_wrapper .hs_sidebar_body .hs_nav > ul > li > ul > li > a.active {
  color: #ffffff;
  background-color: #353535;
}
/********************************************************************************************* 
4. sidebar end
*********************************************************************************************/
/********************************************************************************************* 
5. page wrapper start
*********************************************************************************************/
.hs_page_wrapper {
  margin-left: 320px;
}
.hs_page_wrapper .hs_page_title {
  min-height: 200px;
  background-color: #4e72e9;
  padding: 30px;
}
.hs_page_wrapper .hs_page_title > h3 {
  margin: 0;
  color: #ffffff;
  font-size: 20px;
  float: left;
}
.hs_page_wrapper .hs_page_title > h3 > a {
  color: inherit;
}
.hs_page_wrapper .hs_page_title .hs_logout {
  float: right;
}
.hs_page_wrapper .hs_page_title .hs_logout > a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 6px 20px;
  border: 1px solid #fff;
  border-radius: 50px;
}
.hs_page_wrapper .hs_page_title .hs_logout > a:hover {
  background-color: #ffffff;
  color: #4e72e9;
}
.hs_page_wrapper .hs_page_title:after {
  content: "";
  display: table;
  width: 100%;
}
.hs_page_wrapper .hs_page_body {
  margin: -50px 30px 0px 30px;
  background-color: #ffffff;
  min-height: 600px;
  border-radius: 10px;
  padding: 30px;
}
/********************************************************************************************* 
5. page wrapper end
*********************************************************************************************/
/********************************************************************************************* 
6. authentication start
*********************************************************************************************/
.auth_body {
  background-color: #ffffff;
  background-image: url('../images/auth_bg.jpg');
  background-size: 100%;
}
.hs_auth_wrapper {
  background-color: rgba(78, 114, 233, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  padding: 0 15px;
  padding-top: 10%;
}
.hs_auth_wrapper > .hs_auth_logo {
  margin: 30px auto;
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-bottom: 20px;
}
.hs_auth_wrapper > .hs_auth_logo > h3 {
  color: #ffffff;
  margin: 0;
  font-weight: 100;
  font-size: 30px;
}
.hs_auth_wrapper > .hs_auth_inner {
  margin: 0px auto;
  width: 100%;
  max-width: 400px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 30px;
}
/********************************************************************************************* 
6. authentication end
*********************************************************************************************/
.add_option_btn {
  margin-left: 10px;
  border-radius: 40px;
  border: 1px solid;
  padding: 6px 12px;
  display: inline-block;
}
/********************************************************************************************* 
49. footer start
*********************************************************************************************/
.hs_footer {
  padding: 10px 30px;
  margin-bottom: 30px;
}
.hs_footer > .hs_copyright {
  float: left;
  font-size: 13px;
  color: #6f6f6f;
  font-weight: 500;
}
.hs_footer > .hs_footer_social {
  float: right;
}
.hs_footer > .hs_footer_social > a {
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #4e72e9;
  border-radius: 4px;
}
.hs_footer > .hs_footer_social > a:hover {
  background-color: #1e1e1e;
}
.hs_footer:after {
  content: "";
  display: table;
  width: 100%;
}
/********************************************************************************************* 
49. footer end
*********************************************************************************************/
/********************************************************************************************* 
50. components start
*********************************************************************************************/
/* button start */
.btn {
  box-shadow: none;
  outline: none;
  background-color: #4e72e9;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #ffffff;
  box-shadow: 0px 0px 0px 2px #4e72e9;
}
.btn:hover:active,
.btn:focus:active,
.btn:active:active {
  outline: none;
}
.btn.btn_icon {
  background-color: transparent;
  color: #929292;
  border: 1px solid;
  padding: 0;
  width: 35px;
  height: 35px;
  line-height: 34px;
  font-size: 16px;
  margin-right: 5px;
}
.btn.btn_icon:hover,
.btn.btn_icon:focus {
  box-shadow: none;
  background-color: #4e72e9;
  color: #ffffff;
  border-color: #4e72e9;
}
/* button end */
/* input start */
.hs_input {
  margin-bottom: 20px;
}
.hs_input > label {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 11px;
  color: #717171;
  letter-spacing: 0.5px;
  display: block;
}
.hs_input .form-control {
  border-radius: 0px;
  box-shadow: none;
  padding: 10px 12px;
  height: auto;
  min-height: 43px;
  width: 100%;
}
.hs_input textarea.form-control {
	resize: vertical;
}
.hs_input .form-control:focus {
  box-shadow: none;
  border-color: #4e72e9;
}
.hs_input .help-block {
  font-size: 12px;
  margin-top: 0px;
}
.form-control {
  border-radius: 0px;
  box-shadow: none;
  padding: 10px 12px;
}
.form-control:focus {
  box-shadow: none;
}
/* input end */
/* heading start */
.hs_heading {
  margin-bottom: 30px;
}
.hs_heading > h3 {
  margin: 0;
  font-size: 18px;
  line-height: 37px;
}
.hs_heading > h3 > .btn {
  float: right;
}
.hs_heading > h3:after {
  content: "";
  display: table;
  width: 100%;
}
/* heading end */
/* checkbox start */
.hs_checkbox_list .hs_checkbox {
  display: inline-block;
  margin-right: 15px;
}
.hs_checkbox {
  margin-bottom: 10px;
}
.hs_checkbox > input {
  position: absolute;
  left: -9999px;
}
.hs_checkbox > input:checked ~ label {
  color: #272727;
}
.hs_checkbox > input:checked ~ label::after {
  display: block;
}
.hs_checkbox > label {
  position: relative;
  color: rgba(39, 39, 39, 0.7);
  font-weight: 400;
  cursor: pointer;
}
.hs_checkbox > label::before {
  content: "";
  width: 13px;
  height: 13px;
  border: 1px solid #bbbdc2;
  display: inline-block;
  margin-right: 6px;
  -webkit-transform: translate(0, 1px);
  -moz-transform: translate(0, 1px);
  -ms-transform: translate(0, 1px);
  transform: translate(0, 1px);
}
.hs_checkbox > label::after {
  content: "";
  position: absolute;
  top: 3px;
  right: auto;
  bottom: auto;
  left: 2px;
  width: 12px;
  height: 6px;
  border-bottom: 2px solid #4e72e9;
  border-left: 2px solid #4e72e9;
  display: inline-block;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: none;
}
/* checkbox end */
/* radio start */
.hs_radio_list {
  margin-bottom: 15px;
}
.hs_radio_list .hs_radio {
  display: inline-block;
  margin-right: 15px;
}
.hs_radio {
  margin-bottom: 10px;
}
.hs_radio > input {
  position: absolute;
  left: -9999px;
}
.hs_radio > input:checked ~ label::after {
  display: block;
}
.hs_radio > label {
  position: relative;
  color: #272727;
  font-weight: 400;
  cursor: pointer;
}
.hs_radio > label::before {
  content: "";
  width: 13px;
  height: 13px;
  border: 1px solid #bbbdc2;
  display: inline-block;
  border-radius: 15px;
  margin-right: 6px;
  -webkit-transform: translate(0, 1px);
  -moz-transform: translate(0, 1px);
  -ms-transform: translate(0, 1px);
  transform: translate(0, 1px);
}
.hs_radio > label::after {
  content: "";
  position: absolute;
  top: 6px;
  right: auto;
  bottom: auto;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background-color: #4e72e9;
  display: none;
}
/* radio end */
/* dropdown start */
.dropdown-menu {
  border: none;
  margin-top: 10px;
  padding: 15px 10px;
  border-radius: 5px;
  min-width: 142px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  transform: translate(0, -10px);
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: block;
}
.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 10px;
  width: 16px;
  height: 14px;
  /*background-image: url('../images/icon/dd_corner.png');*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.dropdown-menu > li {
  display: block;
  -webkit-transform: translate(0, -20px);
  -moz-transform: translate(0, -20px);
  -ms-transform: translate(0, -20px);
  transform: translate(0, -20px);
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.dropdown-menu > li > a {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 500;
  color: #272727;
}
.dropdown-menu > li > a:hover {
  color: #4e72e9;
  background-color: transparent;
}
.dropdown-menu.dropdown-menu-right:before {
  left: auto;
  right: 24px;
}
.open .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0px);
  -moz-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  transform: translate(0, 0px);
}
.open .dropdown-menu > li {
  -webkit-transform: translate(0, 0px);
  -moz-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  transform: translate(0, 0px);
}
/* dropdown end */
/* toaster start */
.toaster {
  width: auto !important;
  max-width: 50%;
}
#toast-container > div,
.toast {
  border-radius: 100px;
  border: none;
  box-shadow: none;
  opacity: 1;
  -webkit-animation: alert_anim 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-animation: alert_anim 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-animation: alert_anim 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: alert_anim 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-bottom: 0;
  position: relative;
  margin-bottom: 10px;
}
#toast-container > div:hover,
.toast:hover {
  box-shadow: none;
}
@-webkit-keyframes alert_anim {
  0% {
    -webkit-transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}
@-moz-keyframes alert_anim {
  0% {
    -moz-transform: translateY(-50px);
  }
  100% {
    -moz-transform: translateY(0px);
  }
}
@keyframes alert_anim {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
.toast.toast-error {
  color: #ffffff;
  background-color: #F44336;
}
.toast.toast-success {
  color: #ffffff;
  background-color: #4CAF50;
}
.toast .toast-close-button {
  outline: none;
  opacity: 0.8;
  font-weight: 100;
  line-height: 0px;
  position: absolute;
  top: 45%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* toaster end */
/* custom scrollbar start */
.ed_custom_scrollbar {
  padding-right: 0;
}
.mCSB_scrollTools {
  width: 6px;
  right: 4px;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
}
.mCSB_inside > .mCSB_container {
  margin-right: 0px;
}
/* custom scrollbar end */
/* pagination start */
.pagination > li {
  margin: 0 2px;
  display: inline-block;
}
.pagination > li > a {
  border-radius: 50px;
}
.pagination > li.active > a {
  background-color: #4e72e9;
  border-color: #4e72e9;
}
.pagination > li.active > a:visited {
  background-color: #4e72e9;
  border-color: #4e72e9;
}
.pagination > li.active > a:focus {
  background-color: #4e72e9;
  border-color: #4e72e9;
}
.pagination > li:hover > a {
  color: #4e72e9;
  background-color: #fff;
  border-color: #4e72e9;
}
.pagination > li:hover > a:hover {
  background-color: #fff;
  color: #4e72e9;
  border-color: #4e72e9;
}
.pagination > li:hover > a:visited {
  background-color: #fff;
  color: #4e72e9;
  border-color: #4e72e9;
}
.pagination > li:hover > a:focus {
  background-color: #fff;
  color: #4e72e9;
  border-color: #4e72e9;
}
.pagination > li:first-child > a {
  border-radius: 50px;
}
.pagination > li:last-child {
  margin-right: 0;
}
.pagination > li:last-child > a {
  border-radius: 50px;
}
/* pagination end */
/* datatable start */
.hs_datatable_wrapper .hs_category_icon > img {
  max-width: 35px;
  max-height: 35px;
}
.hs_datatable_wrapper .btn {
  background-color: transparent;
  color: #929292;
  border: 1px solid;
  padding: 0;
  width: 35px;
  height: 35px;
  line-height: 34px;
  font-size: 16px;
  margin-right: 5px;
}
.hs_datatable_wrapper .btn:hover,
.hs_datatable_wrapper .btn:focus,
.hs_datatable_wrapper .btn.active {
  box-shadow: none;
  background-color: #4e72e9;
  color: #ffffff;
  border-color: #4e72e9;
}
.hs_datatable_wrapper .form-control {
  padding: 6px 15px;
}
.hs_datatable_wrapper table {
  width: 100% !important;
}
.hs_datatable_wrapper table > thead {
  background-color: #f1f1f1;
}
.hs_datatable_wrapper table > thead > tr th {
  padding: 15px;
  font-weight: 600;
  color: #636363;
  border-bottom-width: 0px;
  outline: none;
}
.hs_datatable_wrapper table > thead > tr th:after {
  bottom: 15px !important;
  font-size: 12px;
}
.hs_datatable_wrapper table > thead > tr th:last-child {
  width: 100px;
}
.hs_datatable_wrapper table > tbody > tr > td {
  padding: 15px;
  vertical-align: middle;
  border-color: #e6e6e6;
}
.hs_datatable_wrapper table > tbody > tr > td:last-child {
  width: 100px;
}
.hs_datatable_wrapper table > tbody > tr.even {
  background-color: #fdfdfd;
}
.hs_user > .user_img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  float: left;
  z-index: 0;
}
.hs_user > .user_img > img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.hs_user > .user_img > .hs_user_initials {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #4e72e9;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: -1;
}
.hs_user > .user_name {
  float: left;
  padding-left: 10px;
}
.hs_user > .user_name > p {
  margin-bottom: 0px;
}
.hs_user > .user_name > span {
  font-size: 12px;
  color: #7b7b7b;
}
.hs_datatable_wrapper.hs_datatable_language table > tbody > tr > td:last-child,
.hs_datatable_wrapper.hs_datatable_language table > thead > tr th:last-child {
  width: auto;
}
/* datatable end */
/* analytics data boxes start */
.hs_analytics_data {
  padding: 30px;
  display: block;
  border: 1px solid #e0e0e0;
  background-color: #fdfdfd;
  margin-bottom: 30px;
}
.hs_analytics_data > div {
  text-align: center;
}
.hs_analytics_data > div > .icon {
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
  border-radius: 50px;
  display: inline-block;
  border: 1px solid;
  margin-bottom: 5px;
  color: #4e72e9;
  font-size: 18px;
}
.hs_analytics_data > div > p {
  font-size: 15px;
}
.hs_analytics_data > h3 {
  font-size: 40px;
  color: #868686;
  font-weight: 300;
  margin: 0;
  margin-top: 15px;
}
.hs_analytics_data:after {
  content: "";
  display: table;
  width: 100%;
}
/* analytics data boxes end */
/* tab start */
.hs_tabs > .nav-pills {
  margin-bottom: 15px;
  border-bottom: 1px solid #dedddd;
  padding-bottom: 15px;
}
.hs_tabs > .nav-pills > li > a {
  padding: 6px 25px;
  border-radius: 32px;
  color: #656565;
}
.hs_tabs > .nav-pills > li.active > a {
  color: #ffffff;
  background-color: #4e72e9;
}
/* tab end */
/* image viewer start */
.hs_image_viewer {
  margin-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 30px;
}
.hs_image_viewer > label {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 11px;
  color: #717171;
  letter-spacing: 0.5px;
  display: block;
  margin-bottom: 5px;
}
.hs_image_viewer > .iv_image {
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
}
.hs_image_viewer > .iv_image > img {
  max-width: 300px;
}
.hs_image_viewer > .help-block {
  font-size: 12px;
  margin-top: 0px;
}
.hs_image_viewer > .iv_action > .uploader_link {
  display: inline-block;
  margin-right: 10px;
}
.hs_image_viewer > .iv_action > .uploader_link > label {
  border-radius: 50px;
  margin-bottom: 0;
  cursor: pointer;
  text-transform: uppercase;
  color: #4e72e9;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.hs_image_viewer > .iv_action .iv_remove {
  color: #F44336;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.hs_image_viewer.last {
  padding-bottom: 0;
  border-bottom: none;
}
/* image viewer end */
.uploader_link > input {
  position: absolute;
  left: -9999px;
}
/* map start */
.hs_map_wrapper #pac-input {
  top: 10px !important;
  width: 200px;
  height: 29px;
  padding: 0 10px;
  border: 1px solid #ccc;
  outline: none;
}
.hs_map_wrapper #pac-input:focus {
  border-color: #4e72e9;
}
/* map end */
/* instructions start */
.hs_instructions {
  border: 1px solid #e4e4e4;
  padding: 15px;
  background-color: #f7f7f7;
}
.hs_instructions > .hs_instruction_process {
  margin-bottom: 30px;
  border-bottom: 1px solid #e4e4e4;
}
.hs_instructions > .hs_instruction_process > h3 {
  margin: 0;
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 600;
}
.hs_instructions > .hs_instruction_process > p {
  font-size: 13px;
  color: #6b6b6b;
  padding-left: 15px;
  margin-bottom: 20px;
}
.hs_instructions > .hs_instruction_process a {
  font-weight: bold;
  text-decoration: underline;
}
.hs_instructions > .hs_instruction_process:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
/* instructions end */
/* accordion start */
.panel-group .panel-default {
  margin-bottom: 10px;
}
.panel-group .panel-default > .panel-heading {
  background-color: transparent;
  padding: 0;
}
.panel-group .panel-default > .panel-heading > h4 > a {
  padding: 15px 15px;
  display: block;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-group .panel-default > .panel-heading > h4 > a[aria-expanded="true"] {
  color: #ffffff;
  background-color: #4e72e9;
  box-shadow: 0px 0px 0px 1px #0fd4e0;
}
.panel-group .panel-default > .panel-heading > h4 > a[aria-expanded="true"].collapsed {
  color: #333333;
  background-color: transparent;
  box-shadow: none;
}
/* accordion end */
/* alert box start */
.hs_alert_wrapper {
  position: fixed;
  top: auto;
  right: 30px;
  bottom: 30px;
  left: auto;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  transform: translate(0, 20px);
}
.hs_alert_wrapper > .hs_alert_inner {
  padding: 15px 30px;
  border-radius: 60px;
  color: #fff;
}
.hs_alert_wrapper > .hs_alert_inner > p {
  margin: 0;
}
.hs_alert_wrapper > .hs_alert_inner > p > .icon {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  -webkit-transform: translate(0, -2px);
  -moz-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  transform: translate(0, -2px);
}
.hs_alert_wrapper.hs_error > .hs_alert_inner {
  background-color: #ff5151;
}
.hs_alert_wrapper.hs_error > .hs_alert_inner > p > .icon {
  background-image: url('../images/icon/alert_icon_error.svg');
}
.hs_alert_wrapper.hs_success > .hs_alert_inner {
  background-color: #82ba4a;
}
.hs_alert_wrapper.hs_success > .hs_alert_inner > p > .icon {
  background-image: url('../images/icon/alert_icon_success.svg');
}
.hs_alert_wrapper.open_alert {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0px);
  -moz-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  transform: translate(0, 0px);
}
/* alert box end */
/* margin padding start */
.margin-top-0 {
  margin-top: 0px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-35 {
  margin-top: 35px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-45 {
  margin-top: 45px;
}
.margin-top-50 {
  margin-top: 50px;
}
.margin-top-55 {
  margin-top: 55px;
}
.margin-top-60 {
  margin-top: 60px;
}
.margin-top-65 {
  margin-top: 65px;
}
.margin-top-70 {
  margin-top: 70px;
}
.margin-top-75 {
  margin-top: 75px;
}
.margin-top-80 {
  margin-top: 80px;
}
.margin-top-85 {
  margin-top: 85px;
}
.margin-top-90 {
  margin-top: 90px;
}
.margin-top-95 {
  margin-top: 95px;
}
.margin-top-100 {
  margin-top: 100px;
}
.margin-bottom-0 {
  margin-bottom: 0px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-35 {
  margin-bottom: 35px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-bottom-45 {
  margin-bottom: 45px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-55 {
  margin-bottom: 55px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-bottom-65 {
  margin-bottom: 65px;
}
.margin-bottom-70 {
  margin-bottom: 70px;
}
.margin-bottom-75 {
  margin-bottom: 75px;
}
.margin-bottom-80 {
  margin-bottom: 80px;
}
.margin-bottom-85 {
  margin-bottom: 85px;
}
.margin-bottom-90 {
  margin-bottom: 90px;
}
.margin-bottom-95 {
  margin-bottom: 95px;
}
.margin-bottom-100 {
  margin-bottom: 100px;
}
.margin-left-0 {
  margin-left: 0px;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-left-25 {
  margin-left: 25px;
}
.margin-left-30 {
  margin-left: 30px;
}
.margin-left-35 {
  margin-left: 35px;
}
.margin-left-40 {
  margin-left: 40px;
}
.margin-left-45 {
  margin-left: 45px;
}
.margin-left-50 {
  margin-left: 50px;
}
.margin-left-55 {
  margin-left: 55px;
}
.margin-left-60 {
  margin-left: 60px;
}
.margin-left-65 {
  margin-left: 65px;
}
.margin-left-70 {
  margin-left: 70px;
}
.margin-left-75 {
  margin-left: 75px;
}
.margin-left-80 {
  margin-left: 80px;
}
.margin-left-85 {
  margin-left: 85px;
}
.margin-left-90 {
  margin-left: 90px;
}
.margin-left-95 {
  margin-left: 95px;
}
.margin-left-100 {
  margin-left: 100px;
}
.margin-right-0 {
  margin-right: 0px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-right-25 {
  margin-right: 25px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-right-35 {
  margin-right: 35px;
}
.margin-right-40 {
  margin-right: 40px;
}
.margin-right-45 {
  margin-right: 45px;
}
.margin-right-50 {
  margin-right: 50px;
}
.margin-right-55 {
  margin-right: 55px;
}
.margin-right-60 {
  margin-right: 60px;
}
.margin-right-65 {
  margin-right: 65px;
}
.margin-right-70 {
  margin-right: 70px;
}
.margin-right-75 {
  margin-right: 75px;
}
.margin-right-80 {
  margin-right: 80px;
}
.margin-right-85 {
  margin-right: 85px;
}
.margin-right-90 {
  margin-right: 90px;
}
.margin-right-95 {
  margin-right: 95px;
}
.margin-right-100 {
  margin-right: 100px;
}
.padding-top-0 {
  padding-top: 0px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-25 {
  padding-top: 25px;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-top-35 {
  padding-top: 35px;
}
.padding-top-40 {
  padding-top: 40px;
}
.padding-top-45 {
  padding-top: 45px;
}
.padding-top-50 {
  padding-top: 50px;
}
.padding-top-55 {
  padding-top: 55px;
}
.padding-top-60 {
  padding-top: 60px;
}
.padding-top-65 {
  padding-top: 65px;
}
.padding-top-70 {
  padding-top: 70px;
}
.padding-top-75 {
  padding-top: 75px;
}
.padding-top-80 {
  padding-top: 80px;
}
.padding-top-85 {
  padding-top: 85px;
}
.padding-top-90 {
  padding-top: 90px;
}
.padding-top-95 {
  padding-top: 95px;
}
.padding-top-100 {
  padding-top: 100px;
}
.padding-bottom-0 {
  padding-bottom: 0px;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-bottom-15 {
  padding-bottom: 15px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-bottom-25 {
  padding-bottom: 25px;
}
.padding-bottom-30 {
  padding-bottom: 30px;
}
.padding-bottom-35 {
  padding-bottom: 35px;
}
.padding-bottom-40 {
  padding-bottom: 40px;
}
.padding-bottom-45 {
  padding-bottom: 45px;
}
.padding-bottom-50 {
  padding-bottom: 50px;
}
.padding-bottom-55 {
  padding-bottom: 55px;
}
.padding-bottom-60 {
  padding-bottom: 60px;
}
.padding-bottom-65 {
  padding-bottom: 65px;
}
.padding-bottom-70 {
  padding-bottom: 70px;
}
.padding-bottom-75 {
  padding-bottom: 75px;
}
.padding-bottom-80 {
  padding-bottom: 80px;
}
.padding-bottom-85 {
  padding-bottom: 85px;
}
.padding-bottom-90 {
  padding-bottom: 90px;
}
.padding-bottom-95 {
  padding-bottom: 95px;
}
.padding-bottom-100 {
  padding-bottom: 100px;
}
/* margin padding end */
/********************************************************************************************* 
50. components start
*********************************************************************************************/
@media (max-width: 900px) {
  div.dataTables_wrapper div.dataTables_filter input {
    width: 120px !important;
  }
}
@media (max-width: 800px) {
  div.dataTables_wrapper div.dataTables_filter input {
    width: 100px !important;
  }
}
@media (max-width: 768px) {
  .hs_sidebar_wrapper {
    width: 150px;
  }
  .hs_sidebar_wrapper .hs_logo a img {
    max-width: 100%;
  }
  .hs_page_wrapper {
    margin-left: 150px;
  }
  .hs_page_wrapper .hs_page_title > h3 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .hs_analytics_data {
    padding: 10px;
  }
  .hs_page_wrapper .hs_page_body {
    margin: -50px 10px 0px 10px;
  }
  .hs_page_wrapper .hs_page_title .hs_logout > a {
    padding: 6px 8px;
    font-size: 10px;
  }
}
